@charset "utf-8";
/* 공통 */
html,body {letter-spacing: -0.04em;}

/* 콤보박스  */
.dropdown_menu_wrap {position: relative;}
.dropdown_menu_wrap .btn-dropdown {font-family: 'Pretendard';border:1px solid #D8DDE9;height: 28px;padding: 0px 8px;border-radius: 4px;gap: 8px; display:flex;align-items: center;justify-content: center;font-size: 14px;font-weight: 300;line-height: 28px;}
.dropdown_menu_wrap .btn-dropdown::after {content: '';width:12px;height: 7px;background: url('../img/ico/ico_arrow_b48.png') no-repeat center;background-size: 12px auto;}
.dropdown_menu_wrap .btn-dropdown.is-active::after {transform: rotate(180deg);}
.dropdown_menu_wrap .dropdown_list {position: absolute;left:0;top: 29px;background-color: #fff; width: 100%;border: 1px solid #D8DDE9;padding: 5px 0;display: none;z-index: 20;}
.dropdown_menu_wrap .dropdown_list.is-active {display: block;}
.dropdown_menu_wrap .dropdown_list li button {font-size: 14px;font-weight: 300;line-height: 14px;width: 100%;height: 100%;padding: 5px 10px;font-family: 'Pretendard';}
.dropdown_menu_wrap .dropdown_list li:hover button {background-color: #D8DDE9;}

/* switch */
.switch_wrap {position: relative;font-size: 14px;font-weight: 300;line-height: 14px;display: flex;align-items: center;}
.switch_wrap label {margin-right: 4px;}
.switch_wrap [type="checkbox"] {appearance: none;position: relative;border: 2px solid #1293E7;border-radius: 20px;width: 40px;height: 20px;opacity: 1;font-size: 14px;}
.switch_wrap [type="checkbox"]::before {content: "";position: absolute;left: 19px;top: 50%;transform: translateY(-50%); width: 15px;height: 15px;border-radius: 50%;background-color: #1293E7;transition: left 250ms linear;}
.switch_wrap [type="checkbox"]:checked {background-color: #1293E7;border-color: #1293E7;}
.switch_wrap [type="checkbox"]:checked::before {background-color: white; left: 0px;}
.switch_wrap [type="checkbox"]:disabled {border-color: lightgray; opacity: 0.7; cursor: not-allowed; }
.switch_wrap [type="checkbox"]:disabled:before {background-color: lightgray;}
.switch_wrap [type="checkbox"]:disabled + span {opacity: 0.7;cursor: not-allowed;}


/* 체크박스 */
.cs_check_box {position: relative;font-size: 14px;font-weight: 400;line-height: 14px;color:#000;}
.cs_check_box  label {padding:0;margin:0;color:#000;margin-left: 5px;}
.cs_check_box  label::before {display: none !important;}
.cs_check_box [type="checkbox"]{appearance: none;position: relative;border: 2px solid #CCCCCC;border-radius: 2px;width: 18px;height: 18px;opacity: 1;font-size: 14px;padding:0;margin:0;}
.cs_check_box [type="checkbox"]::before {content: "";position: absolute;left: 2px;top: 2px;width: 11px;height: 11px;}
.cs_check_box [type="checkbox"]:checked::before {background: url('../img/common/ico/ico_checkbox_check.png') no-repeat center;}

.flex_justfy {display: flex;align-items: center;justify-content: space-between;}
.flex_center {display: flex;align-items: center;}
.ir-text {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}
.bg_gray {background-color: #F2F5FA;}

/* badge */
.badge_area {display: flex;flex-wrap: wrap;}
.badge {color:#fff;border-radius: 12px;padding: 0 8px;height: 24px;font-size: 12px;font-weight: 700;line-height: 12px;display: flex;align-items: center;}
.badge+.badge {margin-right: 4px;margin-bottom: 4px;}
.badge.badge_best {background-color: #8cd2ff;}
.badge.badge_md {background-color: #ffb37b;}
.badge.badge_new_prod {background-color: #74d69b;}
.badge.quantity_discount {background-color: #f3be57;}
.badge.financial_discount {background-color: #89b8ff;}
.badge.spacial_price {background-color: #beaff8;}
.badge.badge_promotion {background-color: #7bdde2;}
.badge.badge_time_sale {background-color: #ffa7a7;}
.badge.badge_coupon { margin-right: 12px; position: relative; background-color: #9AB2D8; border-radius: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; } 
.badge.badge_coupon::after { content: ""; position: absolute; top: 50%; right: -23px; margin-top: -12px; border-width: 12px; border-style: solid; border-color: transparent transparent transparent #9AB2D8; }
.badge.badge_grain {background-color: #FBABD1;}

/* 구매 수량  */
.count_controller_wrap {display: flex;align-items: center;}
.count_controller_wrap .order_cout_text {font-size: 14px;font-weight: 400;line-height: 14px;color:#717B8A;}
.count_controller {width:75px;height:36px;margin-right: 8px; border:1px solid #E1E3E9;border-radius: 20px;display: flex;align-items: center;justify-content: center;padding:0 10px;}
.count_controller .btn_minus {width:16px;height: 16px;background: url('../img/ico/ico_minus.png') no-repeat center;  background-size: 16px auto;}
.count_controller input {border:0;flex:1;text-align: center;height: 30px;font-family: 'Montserrat';font-size: 16px;font-weight: 500;line-height: 16px;color:#222;}
.count_controller .btn_plus {width:16px;height: 16px;background: url('../img/ico/ico_plus.png') no-repeat center; background-size: 16px auto;}
.count_controller.sold_out input {opacity: 0.3;}
.count_controller.sold_out button {opacity: 0.5;}

/* 헤더 수정 */
.search_wrap {border-bottom:1px solid #E1E3E9;}
.top_header_left {padding-left: 16px;}
.top_header_right {padding-right: 16px;}
.top_header_left,
.top_header_right {display: flex;align-items: center;gap: 8px;}
.cate_tit_top {font-size: 18px;font-weight: 400;line-height: 18px;color:#000;margin-top: -3px;}
.btn_basket_top {position: relative;}
.btn_basket_top img {width: 50%;}
.btn_go_back {width:24px;height: 24px;}
.btn_go_back::before {content: ''; display: block;width: 100%;height: 100%; background: url('../img/ico/ico_back_b48.png') no-repeat center; background-size: 24px auto;}
.btn_search_top {width:24px;height: 24px;}
.btn_search_top::before {content: ''; display: block;width: 100%;height: 100%; background: url('../img/ico/ico_search_b48.png') no-repeat center; background-size: 24px auto;}
.btn_basket_top {width:24px;height: 24px;position: relative;}
.btn_basket_top .counter {position: absolute;right: -10px;top:-5px;padding: 2px 4px 3px;background:#FF4949;border-radius: 20px;font-size: 12px;font-weight: 600;color:#fff;}
.btn_basket_top::before {content: ''; display: block;width: 100%;height: 100%; background: url('../img/ico/ico_cart_b48.png') no-repeat center; background-size: 24px auto;}

/* // 상품 */
.category_top_search .category_search {padding: 12px 16px;gap: 8px;}
.category_top_search .category_search .tit {font-size: 14px;font-weight: 400;line-height: 14px;color:#717B8A;}
.category_top_search .category_search .search_wrap_gray {border-radius: 40px;gap: 16px;height:40px; background:#F2F5FA;border:0;flex:1;display: flex;align-items: center;justify-content: space-between;}
.category_top_search .category_search .search_wrap_gray input {background-color: transparent;border:0;height: 35px;width: calc(100% - 50px);text-indent: 10px;margin: 0px;font-size: 14px;font-weight: 400;line-height: 14px;color:#AEB7C6;}
.category_top_search .category_search .search_wrap_gray button {width:36px;height:36px;margin-right: 6px;}
.category_top_search .category_search .search_wrap_gray button::before {content: ''; display: block;width: 100%;height: 100%;background: url('../img/ico/ico_blue_bl96.png') no-repeat center;background-size: 22px 22px}

.search_result_option {padding: 12px 16px;}
.total_count_box {display: flex;align-items: center;}
.total_count_box .total_count {font-size: 14px;font-weight: 400;line-height: 14px;color:#717B8A;padding-right: 8px;margin-right: 8px;}
.total_count_box .total_count::after {content: '';width:1px;height: 14px;background-color: #E1E3E9;position: absolute;right:0;top:50%;transform: translateY(-50%);}
.total_count_box .total_count strong {font-weight: 700;color:#FF4949;}
.sort_option {gap: 8px;}

.btn_store_info {width:24px;height:24px;}
.btn_store_info::before {content: ''; display: block;width: 100%;height: 100%; background: url('../img/ico/ico_filter_b98.png') no-repeat center; background-size: 24px auto;}

.tag_wrap_gray {background: #F2F5FA;padding: 16px 0;overflow-x: scroll;}
.tag_wrap_gray {-ms-overflow-style: none;scrollbar-width: none;}
.tag_wrap_gray::-webkit-scrollbar {display: none;}
.tag_wrap_gray .tag_inner {white-space: nowrap;display: flex;gap:8px;padding-left: 16px;}

/* 태그 */
.product_tag {font-size: 14px;font-weight: 300;line-height: 14px;white-space: nowrap;align-items: center;display: flex;gap:2px;}
.product_tag .btn_remove_x {width: 13px;height: 13px;background: #AEB7C6 url('../img/ico/ico_remove_w12.png') no-repeat center;background-size: 6px auto;}

/* 상품없음 */
.no_search_results {background: url('../img/img_mascot.png') no-repeat center top;background-size: 150px auto; width:fit-content;margin: 34px auto 40px; padding-top: 150px; display: flex;justify-content: center; font-size: 15px;font-weight: 400;line-height: 15px;color:#000;}
.popular_searches_wrap {background: #F7F8FA;border-radius: 20px;padding: 20px 0px 0;margin:0 16px 40px;}
.popular_searches_list {padding: 0 16px;}
.popular_searches_list .tit {font-size: 15px;font-weight: 400;line-height: 15px;color:#000;border-bottom: 1px solid #E1E3E9;padding:0 0 20px;}
.popular_searches_rank {display: flex;justify-content: space-between;padding: 20px 0px;}
.popular_searches_rank ol {width: 50%;}
.popular_searches_rank ol li {font-size: 14px;font-weight: 400;line-height: 14px;color:#717B8A;}
.popular_searches_rank ol li .num {font-weight: 700;width:24px;font-family: 'Montserrat';display: inline-flex;}
.popular_searches_rank ol li.hot {font-weight: 700;}
.popular_searches_rank ol li.hot .num {color:#FF4949;}
.popular_searches_rank ol li+li {margin-top:8px;}
.popular_searches_wrap .event_slider {border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;overflow: hidden;}

.mySwiper.medical_banner_01 {position: relative;}
.swiper_control_box {position:absolute; border-radius: 24px;background: rgba(0, 0, 0, 0.4);padding: 8px 16px 8px 16px;right: 10px;bottom:10px;z-index:10;display: flex;align-items: center;gap:4px;}

.swiper_control_box .swiper-horizontal>.swiper-pagination-bullets, 
.swiper_control_box .swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper_control_box .swiper-pagination-custom, 
.swiper_control_box .swiper-pagination-fraction {width: auto;}

.swiper_control_box .button-next,
.swiper_control_box .button-prev {width:16px;height:16px;position: relative; display: inline-flex;}
.swiper_control_box .button-prev {background: url('../img/ico/ico_arrow_left.png') no-repeat center;background-size: 6px auto;}
.swiper_control_box .button-next {background: url('../img/ico/ico_arrow_right.png') no-repeat center;background-size: 6px auto;}
.swiper_control_box .pagination .swiper-pagination-current {font-weight: 700;}
.swiper_control_box .pagination .swiper-pagination-total {font-weight: 300;}
.swiper_control_box .pagination {font-family: 'Montserrat';font-size: 12px;font-weight: 700;line-height: 12px;color:#fff;}
.swiper_control_box .swiper-autoplay-button img {width: 12px;height: 12px;}

/* 가격비교 상품 목록 */
.product_list_item {border: 1px solid #E1E3E9;overflow: hidden;background-color: #fff;}
.product_list_item .item_summary_info {display: flex;justify-content: space-between;padding: 24px 16px;gap: 12px;}
.product_list_item .item_summary_info .product_thumbnail {width: 101px;height: 101px;overflow: hidden;}
.product_list_item .item_summary_info .product_thumbnail img {width: 100%;}
.product_list_item .product_info {flex:1;}
.product_tit {font-size: 15px;font-weight: 500;line-height: 15px;color:#000;margin-top: 12px;}
.item_summary_info ul {margin-top: 12px;}
.item_summary_info li {position: relative;padding-left: 6px;font-size: 13px;font-weight: 400;line-height: 13px;color:#AEB7C6;}
.item_summary_info li::before {content: '';display: block;position: absolute;left:0;top: 5px; width:2px;height:2px;background-color: #AEB7C6;border-radius: 50%;}
.item_summary_info li+li {margin-top: 6px;}

.product_corp {font-size: 14px;font-weight: 300;line-height: 14px;margin-top: 16px;color:#717B8A;}
.items_link_list {display: flex;justify-content: space-between;align-items: center;background-color: #F7F8FA;padding: 16px;border-top:1px solid #E1E3E9;gap:8px ;}
.items_link_list:hover {background-color: rgba(0, 114, 188, 0.1);}
.items_link_list .btn_heart {width: 24px;height: 24px;background: url('../img/ico/ico_heart_off.png') no-repeat center;background-size: 100% auto;}
.items_link_list .btn_heart.is-active {background: url('../img/ico/ico_heart_on.png') no-repeat center;background-size: 100% auto;}
.items_link_list .name {width: 196px;font-size: 15px;font-weight: 500;line-height: 15px;}
.items_link_list .price {flex:1;font-size: 16px;font-weight: 400;line-height: 16px;color:#000;text-align: right;}
.items_link_list .price strong {font-family: 'Montserrat';font-weight: 700;}
.items_link_list.soldout-list .name {color:#AEB7C6;}

.product_description {margin-top: 12px;}
.product_description .unit {font-size: 14px;font-weight: 400;line-height: 14px;color:#717B8A;}
.product_description .btn_more_arrow {font-size: 13px;font-weight: 400;line-height: 13px;background: url('../img/ico/ico_arrow_box_right.png') no-repeat right center;padding-right: 18px;background-size: 13px auto;}
.product_spec_graybox {padding: 20px 16px 14px;border-radius: 12px;background: #F7F8FA;margin:0 16px 24px;}
.product_spec_graybox ul {display: flex;justify-content: space-between;flex-wrap: wrap;}
.product_spec_graybox li {position: relative;padding-left: 6px;font-size: 13px;font-weight: 400;line-height: 13px;color:#717B8A;width: calc(50% - 6px);margin-bottom: 6px;}
.product_spec_graybox li::before {content: '';display: block;position: absolute;left:0;top: 5px; width:2px;height:2px;background-color: #AEB7C6;border-radius: 50%;}

.box_type_bgwt {margin-top: 12px;background: #fff;padding: 32px 16px;}

/* 구매히스토리 */
.buy_history {flex:1;}
.history_tit_area .history_tit {font-size: 18px;font-weight: 500;line-height: 18px;color:#000;}
.history_tit_area .history_count {font-size: 14px;font-weight: 400;line-height: 14px;color:#717B8A;}
.history_tit_area .history_count strong {font-weight: 600;color:#FF4949;}
.history_table_scroll {margin-top: 24px; height:150px;border-top: 1px solid #AEB7C6;overflow-y: scroll;}
.history_table_scroll th {background-color: #fff;text-align: center;height: 36px;border-bottom: 1px solid #E1E3E9;vertical-align: middle; font-size: 13px;font-weight: 500;line-height: 13px;color:#222;padding:0;}
.history_table_scroll td {background-color: #fff; text-align: center;height: 36px;border-bottom: 1px solid #E1E3E9;vertical-align: middle; font-size: 13px;font-weight: 400;line-height: 13px;color:#717B8A;padding:0;}
.history_table_scroll td.nodata {text-align: center;padding: 33px 0;color:#717B8A;font-size: 13px;font-weight: 400;line-height: 13px;}
.history_table_scroll td.price span {font-family: 'Montserrat';font-weight: 700;}

.mo_tit_ft18 {font-size: 18px;font-weight: 500;line-height: 18px;color:#000;}
.sales_info_scroll {margin-top: 24px;}
.sales_info_scroll > ul > li {border: 1px solid #E1E3E9;padding: 16px;border-radius: 12px;margin-bottom: 24px;}
.sales_info_scroll > ul > li.is-active {border: 2px solid rgba(0, 114, 188, 1);padding-bottom: 0;}
.sales_info_scroll > ul > li.is-active .sales_info_detail  {display: block;}
.sales_info_scroll > ul > li .badge_area {justify-content: flex-start;} 
.sales_info_scroll > ul > li .sals_info {margin-top: 12px;}
.sals_info .sals_vendor {font-size: 15px;font-weight: 500;line-height: 15px;color:#000;}
.sals_info .sals_vendor .btn_heart {width: 20px; height: 20px;background: url("../img/ico/ico_heart_off.png") no-repeat center;background-size: 100% auto;margin-bottom: 4px;}
.sals_info .sals_vendor .btn_heart.is-active {background: url("../img/ico/ico_heart_on.png") no-repeat center;background-size: 100% auto;}
.sals_info .price_info {font-size: 16px;font-weight: 400;line-height: 16px;color:#000;}
.sals_info .price_info .price img {width:12px;height: 12px;}
.sals_info .price_info strong {font-family: 'Montserrat';font-weight: 700;}
.sals_info .price_info .inventory_count {font-size: 13px;font-weight: 400;line-height: 13px;color:#717B8A;margin-left: 4px;}
.sold-out {color:#FF4949;font-size: 16px;font-weight: 400;line-height: 16px;}

.sales_info_detail {margin-top: 16px;display: none;}
.sales_info_detail tbody th {background: #fff; font-size: 14px;font-weight: 400;line-height: 14px;color:#000;text-align: center;padding: 16px 0;border-bottom: 1px solid #E1E3E9;}
.sales_info_detail tbody td {background: #fff;padding: 16px 0;border-bottom: 1px solid #E1E3E9;font-size: 13px;font-weight: 400;line-height: 13px;color:#717B8A;text-align: left;}
.sales_info_detail tbody td p {line-height: 16px;}
.sales_info_detail tbody td .sale {color:#FF4949;font-weight: 700;}
.sales_info_detail tbody td .price {font-size: 13px;font-weight: 700;line-height: 13px;color:#717B8A;}
.sales_info_detail tbody td p .price span {font-family: 'Montserrat';}
.sales_info_detail tbody td p+p {margin-top: 8px;}
.sales_info_detail th .btn_arrow_right {display: block;position: relative;margin-top: 8px; font-family: 'Pretendard';font-size: 13px;font-weight: 400;line-height: 13px;color:#717B8A;}
.sales_info_detail th .btn_arrow_right::after {display: inline-block;content: "";background: url("../img/ico/ico_arrow_right_b48.png") no-repeat center center; width: 12px;height: 12px;background-size: 100% auto;vertical-align: middle;}
.sales_info_detail tbody td .delivery_time {display: flex;align-items: center;gap:8px;flex-wrap: wrap;}
.sales_info_detail tbody td .delivery_time li.line {position: relative;}
.sales_info_detail tbody td .delivery_time li.line::after {content: '';width: 1px;height:13px;background: #E1E3E9;display: inline-block;vertical-align: middle;margin: 0 0px 0 8px;}
.sales_info_detail tbody td .delivery_time li.today {font-weight: 400;color:#0072BC;}

/* 플로팅 장바구니 */
.order_floating_bottom {z-index: 100; width: 100%;border-radius: 12px 12px 0px 0px;box-shadow: 0px -8px 40px 0px #0000001A;background: #fff;position: fixed;bottom: 0;left:0;}
.order_util_area {padding: 20px 16px;}
.order_util_area .store_name {font-size: 13px;font-weight: 400;line-height: 13px;color:#AEB7C6;display: flex;align-items: center;}
.order_util_area .store_name span:first-child {border-right: 1px solid #E1E3E9;margin-right: 8px;padding-right: 8px;}
.order_counter_control {display: flex;align-items: center;justify-content: space-between;margin-top: 16px;}
.order_util_area .total_price {font-size: 22px;font-weight: 400;line-height: 22px;color:#222;}
.order_util_area .total_price strong {font-family: 'Montserrat';font-weight: 700;color:#0072BC;}
.order_floating_bottom .shortage_message {text-align: right;margin-top: 16px;font-size: 14px;font-weight: 300;line-height: 14px;color:#FF4949;}
.order_floating_bottom .shortage_message .price { font-weight: 600;}
.order_floating_bottom .shortage_message .price span {font-family: 'Montserrat';}
.order_floating_bottom.type_soldout .btn_blue_line:only-child {width: 100%;}
.order_floating_bottom.type_soldout .count_controller {opacity: 0.4;}
.order_floating_bottom.type_soldout .total_price {color:#FF4949;}

/* 구매버튼 */
.order_button_wrap {gap: 8px;padding: 0 16px 16px;}
.order_button_wrap button {font-size: 16px;font-weight: 600;line-height: 16px;text-align: center;height: 48px;border-radius: 16px;}
.order_button_wrap .btn_blue_line {width: calc(50% - 8px);border: 1px solid #0072BC;color:#0072BC;}
.order_button_wrap .btn_blue_line:only-child {width: 100%;}
.order_button_wrap .btn_blue:only-child {width: 100%;}
.order_button_wrap .btn_blue {width: calc(50% - 8px);border: 1px solid #0072BC;background-color: #0072BC; color:#fff;}
.order_button_wrap .btn_blue[disabled] {opacity: 0.5;}

/* 필터 레이어 */
.filter-layer {overflow-x:hidden;overflow-y:auto;position:fixed;left:0%;top:0;width:100%;height:100vh;background:#fff;z-index:101;-webkit-transition:left 0.2s;-moz-transition:left 0.2s;transition:left 0.2s;-webkit-overflow-scrolling:touch;}
.filter_layer_inner {position: relative;height:100vh;display: flex;flex-direction: column;}
.filter_layer_title {padding: 0 16px;font-size: 18px;font-weight: 400;line-height: 18px;color:#000000;height: 56px;display: flex;align-items: center;}
.filter_store_search {position: relative; margin: 12px 16px;background: #F2F5FA;height: 40px;padding: 0 12px;border-radius: 20px;display: flex;align-items: center;justify-content: space-between;gap:4px;}
.filter_store_search input {height: 35px;border:0;font-size: 14px;font-weight: 400;line-height: 14px;color:#AEB7C6;background: transparent;}
.filter_store_search button {width:40px;height:40px;background: url('../img/ico/ico_blue_bl96.png') no-repeat center;background-size: 100%  auto;}
.filter_store_search.active .autocomplete_wrap {display: block;}
.filter_store_search.on .autocomplete_wrap {display: block;}
.filter_store_result {background:#fff;border-top: 12px solid #F2F5FA;flex:1;display: flex;flex-direction: column;}
.filter_store_result .selectd_tag_wap {border-bottom: 1px solid #E1E3E9;padding: 32px 0;margin:0 16px;}
.filter_store_result .tag_list_wap {flex:1;padding: 32px 0;margin:0 16px;}
.filter_store_result .tag_wrap {display:flex;flex-wrap: wrap;gap:8px;}
.filter_store_result .mo_tit_ft18 {margin-bottom: 24px;}
.btn_tag_name {height: 42px;font-size: 16px;font-weight: 500;line-height: 16px;background: #EFF3F9;border-radius:24px;color:#717B8A;padding: 0 16px;}
.tag_box.selected {position: relative;padding-right: 20px;}
.tag_box.selected .btn_tag_name {box-shadow: 0px 4px 4px 0px #0072BC33;background: linear-gradient(101.56deg, #1293E7 0%, #32B6BD 100%);color:#fff;}
.tag_box.selected .btn_remove_x {width: 16px;height:16px;background: url('../img/ico/ico_del_box32.png') no-repeat center;background-size: 16px auto;position: absolute;right:0;top:0;}
.filter-layer .btn_close {width:24px;height:24px;background: url('../img/ico/ico_close_x48.png') no-repeat center;background-size: 100% auto;position: absolute;right:16px;top:16px;}

/* 자동완성 */
.autocomplete_wrap {box-shadow: 0px 4px 4px 0px #00000033;border: 1px solid #AEB7C6;padding: 16px;border-radius: 12px;background-color: #fff;position: absolute;left:0;top: 46px;width: calc(100% - 32px);display: none;}
.autocomplete_wrap li {font-size: 15px;font-weight: 400;line-height: 15px;color:#000000;}
.autocomplete_wrap li span {color:#FF4949;}
.autocomplete_wrap li+li {margin-top: 12px;}