@charset "utf-8";

/* 공통 */
/* 헤더 */
#header{z-index:100;}
/* 20231215 수정 */
#header .search_wrap{
    height:59px;
    width:100%;
    background:#fff;
}
#header .search_area{
    height:60px;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background:#fff;
    z-index: 999;
    padding:0 20px;
    box-sizing:border-box;
    border-bottom: 1px solid #e8e8e8;
    min-width:320px;
}
#header .input_box{
    position:relative;
}
#header .input_box .btn_search{
    position:absolute;
    top:0;
    right:0;
    background:url(../img/btn_search.png) 50% no-repeat;
    background-size:27px auto;
    width:27px;
    height:27px;
}
/* #header .search_area span{
    position:relative;
    display: flex;
    width: calc(100% - 70px);
    padding:0 16px;
    height: 38px;
    align-items: center;
    border-radius: 23.04px;
    border: 0.96px solid #0072BC;
    margin-top:10px;
} */
/* #header .search_area .main_link{
    display: block;
    position: absolute;
    top: 12px;
    left: 30px;
    padding: 10px;
    z-index: 10;
} */
#header .search_area .main_link img{
    width: 90px;
}
#header .search_area .btn_search{
    position:absolute;
    top:5px;
    right:6px;
}
#header .search_area .btn_basket{
    position: absolute;
    top: 9px;
    right: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
}
#header .search_area .btn_basket img{width:50%;}

/* 20231215 수정 */
.main_wrap #header .gnbmenu{display:block;}
#header .gnbmenu{display:none;margin-top:-1px;}
/* //20231215 수정 */

.content_wrap img{width:100%;height:100%;}
.content_wrap .swiper-wrapper{height:auto;}

/* 공지 */
.content_wrap .noti_cont .title{
    border-radius: 8px;
    border: 1px solid #E1E3E9;
    background: #FFF;
    padding:8px;
    color: #222;
    font-size: 13px;
    line-height:13px;
    font-weight: 400;
}
/* 20231215 */
.content_wrap .noti_cont{
    position:relative;
    padding: 14px 20px 10px 75px;
    align-items: center;
    font-size:14px;
    font-weight: 400;
    background:#fff;
}
.content_wrap .noti_cont .title{
    position:absolute;
    top:6px;
    left:20px;
    text-align:center;
}
/* //20231213 */

.content_wrap .noti_cont .slide_noti{height:20px}
/* ico */
.ico_star{
    padding-left:27px;
    height: 24px;
    line-height:24px;
    background:url(../img/ico_star.png) 0 50% no-repeat;background-size:25px auto;
}
/* 타이틀 */
.title_cont span{
    display:inline-block;
    font-size: 18px;
    line-height:28px;
    font-weight: 600;
}
.title_cont .s_txt{
    color: #717B8A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.title_cont span+.s_txt{margin-top:3px;}
/* 툴팁 */
.ico_info{
    display:inline-block;
    background:url(../img/ico_info.png) 50% no-repeat;
    background-size:24px auto;
    width:24px;
    height:24px;
    vertical-align:-6px;
}
/* 20231214 수정 */
.ico_info:hover .tooltip_cont{
    display:block;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 50px);
}
.tooltip_cont:before{content:'';position:absolute;top:-12px;left:0;width:100%;height:10px;}
.tooltip_cont{
    display:none;
    position:absolute;
    width:100%;
    z-index:10;    
}
.tooltip_cont .box{
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #AEB7C6;
    background: #FFF;
    margin:0 20px;
}
.tooltip_cont .tip{
    border-radius: 40px;
    background: #0072BC;
    display: flex;
    padding: 4px 8px;
    align-items: flex-start;
    display: inline-block;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
}
.tooltip_cont .txt{
    margin-top:8px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 135.714% */
    letter-spacing: -1.12px;
}

/* 20231215 수정 */
/* 관심상품 */
.content_wrap .favorite_cont{
    padding:20px 20px 20px 20px;
    position:relative;
}
/* 관심상품 리스트 */
.product_list{
    display: flex;
    overflow-y: auto;
    padding-bottom:20px;
    margin:0 -20px;
}
.product_list li{
    margin-left:20px;
    width:150px;
}
.product_list li+li{
    margin-left:10px;
}
.product_list li:last-child{
    margin-right:20px;
}
/* 20231218 수정 */
.product_list .img_box img{
    object-fit: cover;
}
.product_list .img_box{
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #FFF;
    border: 1px solid #EFF3F9;
    position:relative;
    overflow:hidden;
}
/* square_type */
.product_list.square_type .img_box{
    border-radius: 0;
}
/* find_type */
.product_list.find_type .img_box{
    border-radius: 0;
    background:none;
}
.product_list.find_type>li{
    border: 1px solid #E1E3E9;
    border-radius: 12px;
    background:#fff;
}
.product_list.find_type>li.btn_more_li{
    background:none;
    border:none;
}
.product_list.find_type .img_box{
    border:0;
}
.product_list.find_type .txt_cont{
    margin:0;
    padding:0 10px 20px 10px;
}
/* 20231215 수정 */
.product_list .txt_cont{
    margin-top:8px;
    color: #222;
    font-size: 14px;
    font-weight: 400;
}
.product_list .txt_cont .txt{
    display:inline-block;
    height:36px;
    word-break: break-all;
    display: block; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
}
.product_list .txt_cont .s_txt{
    display:inline-block;
    color: #AEB7C6;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.72px;
    margin-top:5px;
}
.product_list .price_cont{
    display:block;
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid #E1E3E9;
    position:relative;
    text-align:right;
}
.product_list .price_cont .tit{
    color: #AEB7C6;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 7px;
}
.product_list .price_cont .price{
    color: #0072BC;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
}
.product_list .price_cont .sale{
    position:absolute;
    bottom:0;
    left:0;
    color: #32B6BD;
    font-family: 'GmarketSans';
    font-size: 14x;
    font-weight: 400;
    line-height: 18px;
}
.product_list .price_cont .marketPrice{
    margin-bottom:5px;
    color:#AEB7C6;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-decoration: line-through;
}
.product_list .sale_txt{
    display:block;
    margin-top:5px;
    color: #FF4949;
    font-family: 'GmarketSans';
    font-size: 13px;
    font-weight: 500;
}
.product_list .sale_txt strong{    
    font-weight: 700;
}
.product_list .btn_more{
    width:80px;
    margin-top: 20px;
}
.product_list .btn_more img{height:auto;}
.slide_noti{height:100px;}

/* 이 상품을 찾으셨나요? */
.find_product_cont{
    margin-top:60px;
    padding:0 20px 0 20px;
    background: #F7F8FA;
}
.find_product_cont .find_title{
    position:relative;
    top:-20px;
    border-radius: 0px 12px;
    border: 1px solid #0072BC;
    background: #FFF;
    box-shadow: 0px 6px 4px 0px rgba(154, 168, 202, 0.30);
    display: flex;
    padding: 12px 12px 10px 12px;
    align-items: center;
    align-self: stretch;
}
.find_product_cont .find_title span{
    color: #092D74;
    font-family: 'GmarketSans';
    font-size: 18px;
    line-height:28px;
    font-weight: 500;    
    letter-spacing: -0.72px;
    padding-left:30px;
    background:url(../img/ico_search.png) 0 0 no-repeat;
    background-size:24px auto;
}
.find_product_cont .location_cont{
    margin-top:16px;
    position:relative;
    padding: 5px 20px 0 20px;
    margin: 0 -20px;
}
.find_product_cont .location_cont .location:after{content:'';display:block;clear:both;}
.find_product_cont .location_cont .location li{
    float:left;
    color: #222;
    font-family: 'GmarketSans';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.56px;
}
.find_product_cont .location_cont .location li+li:before{
    content:">";
    padding:0 6px;
    color: #222;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.56px;
}
.find_product_cont .location_cont .location li:last-child{
    color: #0072BC;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.64px;
}
.find_product_cont .category_list_cont button{
    width:32px;
    position:absolute;
    top:-5px;
    right:20px;
}
.find_product_cont .category_list_cont button.active{
    transform: rotate(180deg);
}
.find_product_cont .category_list{
    display:none;
}


.find_product_cont .category_list_cont button.active+.category_list{
    display:block;
    position:absolute;
    top:40px;
    left:0;
    width:100%;
    height:249px;
    background: #f7f8fa;
    z-index:10;
    overflow-y:auto;
}
.find_product_cont .category_list{
    border-top:1px solid #E1E3E9;
    border-bottom:1px solid #E1E3E9;
}

.find_product_cont .category_list>ul{
    width:100%;
    position:relative;
}
.find_product_cont .category_list>ul>li{
    background:#fff;
    height: 39px;
    border-bottom:1px solid #E1E3E9;
}
.find_product_cont .category_list>ul>li a{
    height: 40px;
    line-height:40px;
    padding: 0px 20px;
    font-size: 13px;
    line-height:43px;
    letter-spacing: -0.52px;
    color: #AEB7C6;
    font-family: 'GmarketSans';
    display:block;
}
.find_product_cont .category_list>ul>li.on a{
    color:#0072BC;
    font-family: 'GmarketSans';
}

/* 추천상품 */
.recommend_tab .tab-menu{
    display: table;
    table-layout:fixed;
    width:100%;
    border-bottom:1px solid #E1E3E9;
}
.recommend_tab .tab-menu .tab-item{
    display:table-cell;
    text-align:center;
    color:#717B8A;
    font-family: 'GmarketSans';
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.84px;
}
.recommend_tab .tab-menu .tab-item.active span{
    color: #0072BC;
}
.recommend_tab .tab-menu .tab-item span{
    display:inline-block;
    padding:20px 0 16px 0;
    color:#AEB7C6;    
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -1.28px;
}
.recommend_tab .tab-menu .tab-item.active span{
    position:relative;
}
.recommend_tab .tab-menu .tab-item.active span:after{
    content:'';
    position:absolute;
    bottom:0;
    left:0;;
    width:100%;
    border-bottom:2px solid #0072BC;
}
.recommend_tab .tab-content{
    padding:0 20px;
}
.tab-pane,
.tab-pane1{display:none;}
.tab-pane.active,
.tab-pane1.active{display:block;}

/* 의료용품, 의료소모품 탭 */
.recommend_tab.line_type02 .tab-menu .tab-item.active span{
    display:block;
}
.recommend_tab.line_type02 .tab-menu .tab-item.active span:after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    border-bottom: 4px solid #0072BC;
}
.medical_product_cont .tab-content{
    padding:24px 20px;
}
/* 20231215 수정 */
.medical_product_cont .banner_box{
    margin: -24px -20px 0 -20px;
}
.tab-group.type03 .tab-menu{
    border:none;
    box-sizing:border-box;
    padding:0 20px;
}
.tab-group.type03{
    margin:24px -20px 0 -20px;

}
/* 20231215 수정 */
.tab-group.type03 .tab-menu .tab-item1{
    display: inline-block;
    border-radius: 24px;
    /* border: 1px solid #E1E3E9; */
    line-height: 42px;
    padding: 0 16px;
    color: #717B8A;
    text-align: center;
    /* font-family: 'GmarketSans'; */
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.52px;

    border: 1px solid #F2F5FA;
    background:#fff;    
}
.tab-group.type03 .tab-menu .tab-item1.active{
    color:#fff;
    background: linear-gradient(102deg, #1293E7 0%, #32B6BD 100%);
    box-shadow: 0px 4px 4px 0px #0072BC33;
}
.tab-group.type03 .tab-menu li+li{
    margin-left:7px;
}
.tab-group.type03 .product_list{
    display:block;
    /* white-space: wrap; */
    padding: 0 20px 20px 20px;
}
.product_list.list_type li+li{
    margin-top:14px
}
.product_list.list_type li{
    position:relative;
    margin:0;padding:0 20px 0 170px;
    width:100%;
    min-height:150px;
    box-sizing:border-box;
}
.product_list.list_type li .img_box{
    position:absolute;
    top:0;
    left:20px;
}
.product_list.list_type .txt_cont{
    margin:0;
}
.tab-group.type03 .tab-menu{display:block;}

.btn_area .btn_more{
    border-radius: 8px;
    border: 1px solid #E1E3E9;
    background: #EFF3F9;
    height: 40px;
    line-height:40px;
    text-align:center;
    width:100%;
    color: #717B8A;
    font-family: 'GmarketSans';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.84px;
}
/* 인기 검색 상품 */
.popularity_tag_cont{
    padding:40px 20px;
}
.popularity_tag_cont .tag_list_cont{
    margin:5px -20px 0 -20px;
    padding:0 10px;
    overflow-y:auto;
}
.popularity_tag_cont .tag_list{
    width:120%;
}
.popularity_tag_cont .tag_list:after{
    content:'';
    display:block;
    clear:both;
}
.popularity_tag_cont .tag_list li{
    float:left;
    margin:10px 0 0 10px;
}
.popularity_tag_cont .tag_list a{
    display:flex;
    align-content:center;
    flex-wrap: wrap;
    border-radius: 20px;
    height: 32px;
    padding: 0px 16px;
    background: #EFF3F9;
    color: #717B8A;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}
