.content_wrap {font-family: Noto Sans KR; }
.mypage_infobox {background-color: #F2F5FA; padding: 32px 16px 16px 16px;}
.mypage_info-title {display: flex; gap: 4px; justify-content: flex-start; align-items: center;}
.mypage_info-title>img {width: 28px; height: 28px; display: block;}
.mypage_info-title p {font-size: 16px; font-weight: 400; line-height: 32px; letter-spacing: -0.64px; color: #000000;}
.mypage_info-title .mypage_name {color:#0072BC;}
.mypage_infobox dl.mypage_info-des {padding: 16px 0; background-color: #fff; display: flex; flex-wrap: nowrap;}
.mypage_infobox dl.mypage_info-des + dl.mypage_info-des {margin-top: 8px;}
.mypage_infobox dl.mypage_info-des>div:not(:first-child) {border-left: 2px solid #E1E3E9;}
.mypage_infobox dl.mypage_info-des>div {width: 33.333%; display: flex; flex-direction: column; gap:12px; padding:0 12px;}
.mypage_infobox dl.mypage_info-des.whalf>div {width: 50%;}
.mypage_infobox dl.mypage_info-des dt {font-size: 13px; line-height: 13px; letter-spacing: -0.52px; color:#717B8A; text-align: left;}
.mypage_infobox dl.mypage_info-des dd {font-size: 15px; line-height: 15px; text-align: right;}
.mypage_infobox dl.mypage_info-des dd strong {font-size: 15px; font-weight: 700; line-height: 15px;}
.mypage_infobox dl.mypage_info-des .flx-box img {width: 20px; height: 20px;}
.mypage_infobox dl.mypage_info-des .flx-box dt {display: flex; justify-content: space-between; align-items: center;}
.mypage_infobox dl.mypage_info-des .flx-box dt>div{display: flex; align-items: center; gap: 4px; color: #FF4949;}
.mypage_infobox .logout-box {text-align: end;}
.mypage_infobox .logout-box .logout-btn {padding: 7.5px 12px; border-radius: 16px; border: 1px solid #E1E3E9; background-color: #fff; margin-top: 16px; display: inline-block;}
.mypage_menu {display: flex; flex-wrap: wrap;}
.mypage_menu li {padding: 16px 0 16px 16px; border-bottom: 2px solid #E1E3E9; position: relative; width: calc(50% - 16px);}
.mypage_menu li::after {content: ''; position: absolute; background: url(../img/ico/ico_arrow_right_b36.png) center no-repeat; width: 16px; height: 16px; right: 16px; top: 16px;}
.mypage_menu li:nth-child(2n) {border-left: 2px solid #E1E3E9; width: calc(49.5% - 16px);}
.same {background-color: #F7F8FA; padding: 92.5px 0; text-align: center;}
.touchscrollwrap.type04 .tab-menu.no_scroll {padding: 27px 28px 15px 16px; border-bottom: 1px solid #E1E3E9;}
.touchscrollwrap.type04 ul.tab-menu.no_scroll li.tab-item1{position: relative; font-size: 14px; font-weight: 500; line-height: 14px; letter-spacing: -0.56px; color: #AEB7C6;}
.touchscrollwrap.type04 ul.tab-menu.no_scroll li.tab-item1 +li.tab-item1{margin-left: 12px;}
.touchscrollwrap.type04 ul.tab-menu.no_scroll li.tab-item1.active::after{content:''; position: absolute; width: 100%; height: 4px; background-color: #0072BC; bottom: -19px; left: 0;}
.touchscrollwrap.type04 ul.tab-menu.no_scroll li.tab-item1.active{color: #0072BC;}
.bank-top {padding: 16px; display: flex; justify-content: space-between; align-items: center;}
.bank-top p {font-size: 15px; font-weight: 400; line-height: 15px; letter-spacing: -0.6px;}
.bank-top p>strong {font-weight: 700; color: #FF4949;}
.bank-top .moneybox {display: flex; gap: 8px; align-items: center;}
.bank-top .moneybox a{padding: 7px 12px; border: 1px solid #FF4949; border-radius: 16px; color: #FF4949; font-size: 13px; font-weight: 400; line-height: 13px; letter-spacing: -0.52px;}
.bank-search {padding: 16px; background-color: #F2F5FA;}
.bank-search .date-search {display: flex; gap: 8px; width: calc(100% - 8px); margin-bottom: 16px;}
.bank-search .inputbox {position: relative; flex: 0 0 calc(100% - 112px);}
.bank-search .inputbox input {height: 36px; border-radius: 6px;}
.bank-search .inputbox input::placeholder {font-size: 13px;font-weight: 400;line-height: 13px;letter-spacing: -0.52px;}
.bank-search .inputbox button{position: absolute; top: 50%; width: 20px; height: 20px; right: 8px; transform: translateY(-50%);}
.bank-search .dropdown_menu_wrap button {background: #fff; border-radius:6px; padding: 8px 8px 8px 12px; height: 36px; justify-content: space-between; width: 112px; font-size: 13px;font-weight: 400;line-height: 13px;letter-spacing: -0.52px;}
.bank-search .dropdown_menu_wrap li{display: block;}
.bank-search> div.btn_wrap {display: flex; justify-content: center; gap: 8px; margin-top: 16px;}
.bank-search> div.btn_wrap .btn {width: 80px; height: 36px; padding: 0; display: flex; justify-content: center; align-items: center; font-family: Pretendard; font-size: 14px; font-weight: 600; line-height: 14px; letter-spacing: -0.56px;}
.bank-search> div.btn_wrap .btn.btn-inquiry {background-color: #0072BC; color: #fff; border: 0;}
.bank-search .btn_search_top::before {background: url(../img/ico/ico_search_b40.png) no-repeat center; background-size: contain;}
.bank-cont {padding: 32px 16px 40px;}
.cont-tit{margin-bottom: 24px; font-size: 18px; font-weight: 500; line-height: 18px; letter-spacing: -0.72px;}
.bank-cont .cont-inner {padding: 16px; border: 1px solid #E1E3E9; border-radius: 6px;}
.bank-cont .cont-inner + .cont-inner {margin-top: 12px;}
.bank-cont .cont-inner .inner-top {padding-bottom: 16px;border-bottom: 1px solid #E1E3E9; display: flex; gap: 17px; justify-content: flex-start; align-items: center;}
.bank-cont .cont-inner .inner-top p{font-family: Montserrat; font-size: 14px; font-weight: 500; line-height: 14px; letter-spacing: -0.56px;}
.bank-cont .cont-inner .inner-top .gray-date{color: #AEB7C6; position: relative;}
.bank-cont .cont-inner .inner-top .gray-date::before {position: absolute; width: 1px; height: 14px; content: ''; top: 0; background-color: #E1E3E9; left: -8.5px;}
.bank-cont .cont-inner dl {display: flex; gap: 34px; margin-top: 16px; align-items: center;}
.bank-cont .cont-inner dl>div{width: 50%; display: flex; justify-content: space-between;}
.bank-cont .cont-inner dl>div:last-child {position: relative;}
.bank-cont .cont-inner dl>div:last-child::before {position: absolute; width: 1px; height: 14px; content: ''; top: 0; background-color: #E1E3E9; left: -8.5px;}
.bank-cont .cont-inner dl>div dt {color: #717B8A; font-size: 13px; font-weight: 400; line-height: 13px; letter-spacing: -0.52px;}
.bank-cont .cont-inner dl>div .blue-dt {color: #0072BC;}
.bank-cont .cont-inner dl>div .red-dt {color: #FF4949;}
.bank-cont .cont-inner dl>div .gray-dt {color: #717B8A;}
.bank-cont .cont-inner dl>div dd strong {color: #717B8A; font-weight: 700;}
.bank-cont.no-cont {padding-bottom: 57px;}
.bank-cont.no-cont2 {padding-bottom: 72px;}
.bank-cont.no-cont img {width: 74.5px;}
.no_result {font-size: 15px; font-weight: 400; line-height: 15px; letter-spacing: -0.6px;}
.no-cont-inner {display: flex; flex-direction: column; gap: 16px; align-items: center; padding: 57px 0;}
.no-cont-inner2 {padding: 84px 0;}
.no-cont-inner3 {padding: 62px 0;}
.bank-search .date-search .dropdown_menu_wrap .dropdown_list {width: 98.5%;}
.bank-search .search-company {margin-bottom: 16px;}
.bank-search .search-company .dropdown_menu_wrap .dropdown_list {width: 99.85%;}
.bank-search .search-company .dropdown_menu_wrap button {width: 100%;}
.bank-search .dropdown_menu_wrap .dropdown_list {top: 32px;}
.bank-search .dropdown_menu_wrap .dropdown_list li button {font-size: 13px; line-height: 13px; letter-spacing: -0.52px;}
/* 페이징 */
.pagination { display: flex;align-items: center; justify-content: center;gap: 8px; margin-top: 32px;} 
.pagination a {display: flex;align-items: center; width: 24px; height: 24px; text-decoration: none;font-family: 'Montserrat';font-size: 13px;font-weight: 300;line-height: 13px;color:#222;} 
.pagination a:hover:not(.active) {color:#0072BC;font-weight: 700; } 
.pagination a.active { color:#0072BC;font-weight: 700;}
.btn_pagination_first::before,
.btn_pagination_prev::before,
.btn_pagination_next::before,
.btn_pagination_last::before {content: '';display: block;width: 24px;height: 24px;}
.btn_pagination_last::before,
.btn_pagination_first::before {background: url(../img/ico/ico_double_left_48.png) no-repeat center; background-size: contain;}
.btn_pagination_next::before,
.btn_pagination_prev::before {background: url(../img/ico/ico_left_48.png) no-repeat center; background-size: contain;}
.btn_pagination_next::before,
.btn_pagination_last::before {transform: rotate(180deg);}
/* datepicker */
.bank-search .data_period_picker {position: relative; display: flex; align-items: center;}
.bank-search .data_period_picker input {padding: 8px 8px 8px 12px;text-align: left; width: calc(50% - 11.75px); background-color: #fff; height: 36px; line-height: 13px; border: 1px solid #E1E0E5; font-size: 13px; font-weight: 400; color:#000;}
.bank-search .data_period_picker #datepicker_end {margin-left: 34px;}
.bank-search .data_period_picker img {width:20px; height:20px; margin-left: -29px;}
.bank-search .data_period_picker span {position: absolute; top: 50%; transform: translateY(-50%); left: 49%;}
.ui-datepicker-title {display: flex; align-items: center; justify-content: center; margin: 0;}
.ui-datepicker-title select {padding-top: 0; padding-bottom: 0; height: 35px;}
/* 체크박스 */
.check_item_box {display: flex; justify-content: flex-start; align-items: center; gap: 16px; padding-bottom:24px;}
.cs_check_box {position: relative; font-size: 14px; font-weight: 400; line-height: 14px; letter-spacing: -0.56px; color:#000; display: flex; align-items: center; gap: 4px;}
.cs_check_box  label {padding:0;margin:0;color:#000;}
.cs_check_box  label::before {display: none !important;}
.cs_check_box [type="checkbox"]{appearance: none;position: relative;border: 2px solid #CCCCCC;border-radius: 8px;width: 24px;height: 24px;opacity: 1;font-size: 14px;padding:0;margin:0;}
.cs_check_box [type="checkbox"]::before {content: "";position: absolute; top:50%; left:25%; transform: translateY(-50%); width: 12px;height: 7px; background-size: contain; }
.cs_check_box [type="checkbox"]:checked::before {background: url('../img/ico/ico_checkbox_check.png') no-repeat center; background-size: contain;}
input[type="checkbox"]:checked {background-color: #0072BC; border-color: #0072BC;}

